---
import AstroIcons from "./AstroIcons.astro"
import TailwindIcons from "./TailwindIcons.astro"
import ReactIcons from "./ReactIcon.astro"

 const TAGS = {
   Astro: {
    name: "Astro",
    class: "bg-black text-white",
    icon: AstroIcons,
  },
   TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-blue-800 text-white",
    icon: TailwindIcons,
   },
   REACT: {
    name: "React",
    class: "bg-cyan-200/10",
    icon: ReactIcons,
   }
 }

const PROJECTS = [
  {
    title: "PAGS - Seguros Rivadavia",
    description: "Primer proyecto",
    link: "https://www.linkedin.com/in/martin-alejandro-urbano-5554b52b8/",
    github: "https://github.com/MartinUrbanoDev",
    image: "678shots_so.png",
    tags: [ TAGS.Astro, TAGS.TAILWIND, TAGS.REACT ]
  }
]
---

{
  PROJECTS.map(({ image, title, description, tags}) => (
    <article>
      <h3 class="text-2xl text-yellow-200 font-semibold">{title}</h3>
      <p class="text-lg text-pretty my-3">{description}</p>
      <ul class="flex flex-row gap-x-4">
        {tags.map(tag => (
          <li>
            <span class={`flex items-center gap-x-2 rounded-full text-base ${tag.class} py-1 px-2`}>
            <tag.icon class="size-6" />
            {tag.name}
            
          </span>
            </li>
        ))}
      </ul>
      <img class="opacity-90" src={image} alt={`Captura de pantalla del Proyecto ${image}`} />
    </article>
  ))
}